@charset "UTF-8";

.user{ width:300px;height: 20px;}

.senha{width:300px;height: 20px;}
.botoes{overflow: hidden; width: 100%;}

button.css3button {	font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;    width: 800px;    padding: 20px;
	font-size: 13px;
	color: #0f0707;
	padding: 10px 20px;
	background: -moz-linear-gradient(	top, #ffff42 0%, #dede18);
	background: -webkit-gradient(linear, left top, left bottom,	from(#ffff42),	to(#dede18));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #134201;
	-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:	0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:	0px 1px 3px rgba(000,000,000,0.5),	inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:0px -1px 0px rgba(000,000,000,0.4),	0px 1px 0px rgba(255,255,255,0.3);}

