<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <title>FAPALUN - {{ pagina }}</title>
        <meta charset="utf-8" />        
        <link rel="stylesheet" href="../static/content/cabecalho.css" />
        <link rel="stylesheet" href="../static/content/cursos.css" />
    </head>

    <body>
            <header class="interface">
                <div class="bloco">
                <h1 class="centro">{{ faculdade }}</br>{{ facul }}</h1>
                <img src="../static/img/logo1.jpg" alt="logo" class="img">
            
                <nav id="menu">
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="cursos.html">Cursos</a></li>
                        <li><a href="noticias.html">Notícias</a></li>
                        <li><a href="login.html">Academico</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </header>
            <section class="section_cursos">
                <div class="cursos">
                    <p class="titulo_curso">Análise e Desenvolvimento de Sistemas</p>
                    <img src="../static/img/analise.jpeg" alt="ads" class="imagem">
                    <p class="descricao_curso">
                        O tecnólogo com esta formação desenvolve, analisa, projeta, implementa e atualiza sistemas de informação. Tem noções de gerenciamento, mas sua especialidade é a criação de sistemas informatizados: programação de computadores e desenvolvimento de softwares para ampliar a capacidade dos recursos do equipamento. Ele implanta e desenvolve banco de dados. Conhece a estrutura física dos equipamentos e seus periféricos, e precisa se manter muito atualizado sobre aplicativos, ambientes operacionais e linguagens de programação. Além disso, precisa ter boa noção dos negócios da companhia para a qual trabalha.
                    </p>
                </div>
                

                <div class="cursos">
                    <p class="titulo_curso">Sistemas de Informação</p>
                    <img src="../static/img/sistemas.jpg" alt="sistemas" class="imagem">                
                    <p class="descricao_curso">
                        Este bacharel administra o fluxo de informações que circulam por redes de computadores, dentro e fora de uma organização. Ele desenvolve o processamento, os sistemas de armazenamento e de recuperação de dados e disponibiliza esse material para usuários de redes, criando, adaptando e instalando programas para facilitar e organizar a consulta. Monta e gerencia banco de dados e desenha páginas de sites, funcionais e elegantes – tarefa que exige versatilidade e criatividade.
                    </p>
                </div>


                <div class="cursos">
                    <p class="titulo_curso">Processos Gerenciais</p>
                    <img src="../static/img/processos.jpg" alt="processos" class="imagem">                
                    <p class="descricao_curso">
                        Existem diversos cursos superiores de tecnologia, a maior parte sob o nome de Processos Gerenciais, que ensinam técnicas de gestão empresarial. Mas há algumas diferenças ao longo da carreira. O bacharel possui uma visão ampla do negócio e é um profissional essencial para desenhar a sua estratégia, gerenciar as ações de marketing, as atividades de logística e as vendas. Já o tecnólogo, com formação numa área específica, segue carreira nessa mesma área, mas não costuma chegar ao posto de diretor administrativo.
                    </p>
                </div>  
                
                
                <div class="cursos">
                    <p class="titulo_curso">Jogos Digitais</p>
                    <img src="../static/img/jogos.jpg" alt="jogos" class="imagem">
                    <p class="descricao_curso">
                        O curso forma o profissional que dá suporte à criação de programas e ambientes de jogos, complementando o planejamento geral, desenvolvido pelo bacharel. Assim, o bacharel e o tecnólogo têm funções complementares: o primeiro, com uma visão estratégica dos jogos; o segundo, responsável direto pela produção dos games.</br>
                        
                        O tecnólogo entende fundamentalmente das ferramentas de informática e das diversas plataformas, da criação de ambientes em 2D e 3D e da modelagem de personagens virtuais, por exemplo. O curso inclui boa carga de disciplinas das Ciências Exatas, como computação gráfica, matemática para jogos, vetores, física para jogos digitais, estrutura de dados e sistemas operacionais.
                    </p>    
                </div>

                <div class="cursos">
                    <p class="titulo_curso">Banco de Dados</p>
                    <img src="../static/img/banco.jpg" alt="banco" class="imagem">
                    <p class="descricao_curso">
                        O tecnólogo com esta formação projeta, modela, implementa, testa e gerencia bancos de dados. Ele avalia o desempenho do sistema, realiza o planejamento da segurança das informações e propõe melhorias. Também cabe a ele fazer a leitura dos dados e os transforma em informações para a tomada de decisões corporativas.
                    </p>
                </div>


                <div class="cursos">
                    <p class="titulo_curso">Engenharia Elétrica</p>
                    <img src="../static/img/engenharia.jpg" alt="engenharia" class="imagem">
                    <p class="descricao_curso">
                        O engenheiro eletricista lida com a geração, a transmissão e a distribuição da energia elétrica, considerando fatores como custos, localização e segurança. Ele está habilitado a construir e a aplicar sistemas de automação e controle em linhas de produção industrial.</br>
                        
                        Trabalha no desenvolvimento de componentes eletroeletrônicos, na operação e na manutenção de equipamentos em hospitais e clínicas e em projetos de instalações elétricas.</br>
                        
                        Participa do projeto e da construção de usinas hidrelétricas, termelétricas e nucleares e faz estudos sobre eficiência energética, considerando fontes de energia renováveis. Também elabora projetos de sistemas de medição de consumo, iluminação de espaços e aterramento de fios.
                    </p>
                </div>


                <div class="cursos">
                    <p class="titulo_curso">Sociologia</p>
                    <img src="../static/img/sociologia.png" alt="sociologia" class="imagem">
                    <p class="descricao_curso">
                        Este bacharel analisa os movimentos e os conflitos sociais, a construção das identidades e a formação das opiniões. Pesquisa costumes e hábitos e investiga as relações entre indivíduos, famílias, grupos e instituições.</br>
                        
                        Desenvolve e utiliza um conjunto variado de técnicas e métodos de pesquisa para o estudo das coletividades humanas e interpreta os problemas da sociedade, da política e da cultura.
                    </p>
                </div>


                <div class="cursos">
                    <p class="titulo_curso">Ciêncas Contábeis</p>
                    <img src="../static/img/contabeis.jpg" alt="contabeis" class="imagem">
                    <p class="descricao_curso">
                        É a área que cuida das contas de uma empresa, por meio do registro e do controle das receitas, das despesas e dos lucros. O contador coordena e controla os registros de negócios (compras, vendas, investimentos e aplicações), de modo a dar uma visão precisa de seu patrimônio. Ele interpreta eventos econômicos e fornece informações aos dirigentes da companhia para a tomada de decisões.
                    </p>
                </div>



            </section>
            <footer>
                    <p class="footer">Copyright ® 2017 – FAPALUN – Todos os direitos reservados</p>          
            </footer>
    </body>